.main-wrap {
  height: 100vh;
}

.background {
  background-image: url("./../../../assets/images/bg1.jpg");
  background-size: cover;
  height: 100vh;
  background-position-x: -350px;
}

.signin-form{
    width: 50%;
}