.container-fluid {
  margin-top: 80px;
}
.form-control {
  border: none;
  border-radius: 0px;
}

.search-box {
  width: 50%;
  position: relative;
  img {
    position: absolute;
    left: 10px;
    top:47%;
  }
  .form-control{
      padding-left: 40px;
      border:none;
  }
  button{
      position: absolute;
      right: 0;
      top: 1em;
      height: calc(100% - 1em);
  }
}


.active{
    background: #333;
    color: white;   
}