<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       href="/">Barclays</a>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="['/home']" [routerLinkActive]="'active'">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="['/orders']" [routerLinkActive]="'active'">Orders</a>
            </li>
        </ul>

        <button class="cart-btn btn btn-default mr-3"
                [routerLink]="['/cart']"
                *ngIf="cartCount!=0 && isLoggedIn">
            <div class="cart-count">{{cartCount}}</div>
            <img src="./../../../assets/images/carts.png"
                 height=25
                 width=25>
        </button>
        <button (click)="logout()"
                class="btn btn-primary mr-3"
                *ngIf="isLoggedIn">
            Logout
        </button>
        <ng-container *ngIf="!isLoggedIn;">
            <button class="btn btn-default"
                    [routerLink]="['/auth/signup']">Signup</button>
            <button class="btn btn-primary mr-3"
                    [routerLink]="['/auth/signin']">Signin</button>
        </ng-container>
    </div>
</nav>